setuptools
xpander-sdk
pydantic
loguru
httpx
httpx_sse
python-dotenv
pytest
black
pre-commit
pytest-asyncio
agno
sqlalchemy
psycopg[binary,pool]
greenlet
nest-asyncio
mcp
openai
anthropic
packaging
fireworks-ai
google-genai
strands-agents
openai-agents
python-toon